html,
body {
    color: #4d4e53;
    min-width: 290px;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: #ffffff;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

#navbar {
    left: 0px;
    top: 0px;
    position: fixed;
    min-width: 290px;
    width: 300px;
    height: 100px;
    border-color: rgba(0, 22, 22, 0.4);
    border-right: solid;
}

#navbar a{
    display: block;
    padding: 10px 30px;
    color: 4d4e53;
    text-decoration: none;
    cursor: pointer;
}

#navbar ul {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90;
} 

#navbar li {
    border-top: 1px solid;
    position: relative;
    width: 100%;
    list-style: none;
}

#navbar a {
    color: #4d4e53;
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 30px;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#main-doc {
    margin-bottom: 120px;
    margin-left: 305px;
    position: absolute;
    padding: 20px;
}

code {
    display: block;
    padding: 20px;
    margin: 20px;
    position: relative;
    background-color: #B0B0B0;
    color: black;
}
 

@media screen and (max-width: 350px) {
    .navbar a {
        text-align: center;
        float: none;

    }
}

@media only screen and (max-width: 800px) {
    #navbar ul {
        border: 1px solid;
        height: 200px;
    }

    #main-doc {
        position: relative;
        margin-top: 270px;
        margin-left: 0px;
    }


    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        border: none;
        border-bottom: 2px solid;
    }
}
